@import url(//db.onlinewebfonts.com/c/ff9a26118c06a89c748085e659c799eb?family=Love);

@font-face {
    font-family: "Love";
    src: url("../fonts/Love/LoveV2.eot");
    src: url("../fonts/Love/LoveV2.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Love/LoveV2.woff2") format("woff2"),
        url("../fonts/Love/LoveV2.woff") format("woff"),
        url("../fonts/Love/LoveV2.ttf") format("truetype");
}

html,
body {
    height: 100%;
}

body.active {
    background: #dc9f9f;
    background: -webkit-radial-gradient(#ffffff 40%, #dc9f9f);
    background: -o-radial-gradient(#ffffff 40%, #dc9f9f);
    background: -moz-radial-gradient(#ffffff 40%, #dc9f9f);
    background: radial-gradient(#ffffff 40%, #dc9f9f);
    background-attachment: fixed;
}

.collage {
    position: relative;
    height: 100%;
}

.collage img {
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.collage h1 {
    top: 350px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Love Light", cursive;
    font-size: 120px;
    color: #ff5c5c;
    line-height: 0;
}

@media only screen and (max-width: 800px) {
    .collage h1 {
        top: calc(100vw / 3 - 20px);
    }
  }

.love-container {
    height: 100%;
    min-height: 100%;
    display: none;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 12px;
}

section.block {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

section.block-content {
    display: table-cell;
    height: 100%;
    min-height: 100%;
    width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.parallax {
    display: none;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer h1 {
    font-family: "Love Light", cursive;
    font-size: 120px;
    color: white;
    line-height: 0;
}

.parallax__layer h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--base {
    transform: translateZ(0);
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

.btn:hover {
    background-color: white;
    color: black;
}

.active {
    display: block !important;
}

.center img {
    padding: 5px;
    border: 3px solid #df7f7f;
    border-radius: 15px;
}

.center h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 60px;
    color: #ff5c5c;
}

.center h1.vane {
    font-size: 120px;
}

@media only screen and (max-width: 800px) {

    .collage h1 {
        font-size: 80px;
    }

    .center img {
        width: 50%;
    }

    .center h1 {
        font-size: 30px;
    }

    .center h1.vane {
        font-size: 60px;
    }
  }